exportClasses (CytoscapeWindowClass, CytoscapeConnectionClass)

exportMethods (
   addCyEdge,
   addCyNode,
   addGraphToGraph,
   clearSelection,
   clearSelection,
   copyVisualStyle,
   createNetwork,
   createNetworkFromSelection,
   copyCytoscapeNetwork,
   renameCytoscapeNetwork,
   cyPlot,
   deleteAllNetworks,
   deleteEdgeAttribute,
   deleteNodeAttribute,
   deleteSelectedEdges,
   deleteSelectedNodes,
   deleteNetwork,
   displayGraph,
   dockPanel,
   fitContent,
   fitSelectedContent,
   floatPanel,
   getAllEdgeAttributes,
   getAllEdges,
   getAllNodeAttributes,
   getAllNodes,
   getArrowShapes,
   getAttributeClassNames,
   getCenter,
   getDefaultBackgroundColor,
   getDefaultEdgeReverseSelectionColor,
   getDefaultEdgeSelectionColor,
   getDefaultNodeReverseSelectionColor,
   getDefaultNodeSelectionColor,
   getDirectlyModifiableVisualProperties,
   getEdgeAttribute,
   getEdgeAttributeNames,
   getEdgeCount,
   getFirstNeighbors,
   getGraph,
   getGraphFromNetwork,
   getLayoutNameMapping,
   getLayoutNames,
   getLayoutPropertyNames,
   getLayoutPropertyType,
   getLayoutPropertyValue,
   getLineStyles,
   getNodeAttribute,
   getNodeAttributeNames,
   getNodeCount,
   getNodePosition,
   getNodeShapes,
   getNodeSize,
   getSelectedEdgeCount,
   getSelectedEdges,
   getSelectedNodeCount,
   getSelectedNodes,
   getViewCoordinates,
   getVisualStyleNames,
   getNetworkCount,
   getNetworkSuid,
   getNetworkList,
   getZoom,
   hideAllPanels,
   hideNodes,
   hidePanel,
   hideSelectedEdges,
   hideSelectedNodes,
   invertEdgeSelection,
   invertNodeSelection,
   layoutNetwork,
   lockNodeDimensions,
   ping,
   apiVersion,
   predictTimeToDisplayGraph,
   raiseWindow,
   redraw,
   restoreLayout,
   saveImage,
   saveLayout,
   saveNetwork,
   selectEdges,
   selectAllEdges,
   selectFirstNeighborsOfSelectedNodes,
   selectNodes,
   selectAllNodes,
   sendEdges,
   sendNodes,
   setCenter,
   setDefaultBackgroundColor,
   setDefaultEdgeColor,
   setDefaultEdgeFontSize,
   setDefaultEdgeLineWidth,
   setDefaultEdgeLineStyle,
   setDefaultEdgeReverseSelectionColor,
   setDefaultEdgeSelectionColor,
   setDefaultEdgeSourceArrowColor,
   setDefaultEdgeTargetArrowColor,
   setDefaultNodeBorderColor,
   setDefaultNodeBorderWidth,
   setDefaultNodeColor,
   setDefaultNodeFontSize,
   setDefaultNodeLabelColor,
   setDefaultNodeReverseSelectionColor,
   setDefaultNodeSelectionColor,
   setDefaultNodeShape,
   setDefaultNodeSize,
   setEdgeAttributes,
   setEdgeAttributesDirect,
   setEdgeColorDirect,
   setEdgeColorRule,
   setEdgeFontSizeDirect,
   setEdgeLabelColorDirect,
   setEdgeLabelDirect,
   setEdgeLabelOpacityDirect,
   setEdgeLabelRule,
   setEdgeLineStyleDirect,
   setEdgeLineStyleRule,
   setEdgeLineWidthDirect,
   setEdgeLineWidthRule,
   setEdgeOpacityDirect,
   setEdgeOpacityRule,
   setEdgeSourceArrowColorDirect,
   setEdgeSourceArrowColorRule,
   setEdgeSourceArrowOpacityDirect,
   setEdgeSourceArrowRule,
   setEdgeSourceArrowShapeDirect,
   setEdgeTargetArrowColorDirect,
   setEdgeTargetArrowColorRule,
   setEdgeTargetArrowOpacityDirect,
   setEdgeTargetArrowRule,
   setEdgeTargetArrowShapeDirect,
   setEdgeTooltipDirect,
   setEdgeTooltipRule,
   setGraph,
   setLayoutProperties,
   setNodeAttributes,
   setNodeAttributesDirect,
   setNodeBorderColorDirect,
   setNodeBorderColorRule,
   setNodeBorderOpacityDirect,
   setNodeBorderWidthDirect,
   setNodeBorderWidthRule,
   setNodeColorDirect,
   setNodeColorRule,
   setNodeFillOpacityDirect,
   setNodeFontSizeDirect,
   setNodeHeightDirect,
   setNodeImageDirect,
   setNodeLabelColorDirect,
   setNodeLabelDirect,
   setNodeLabelOpacityDirect,
   setNodeLabelRule,
   setNodeOpacityDirect,
   setNodeOpacityRule,
   setNodePosition,
   setNodeShapeDirect,
   setNodeShapeRule,
   setNodeSizeDirect,
   setNodeSizeRule,
   setNodeTooltipRule,
   setNodeWidthDirect,
   setTooltipDismissDelay,
   setTooltipInitialDelay,
   setVisualStyle,
   setWindowSize,
   setZoom,
   sfn,
   showGraphicsDetails,
   unhideAll
   )

export(
   CytoscapeConnection,
   CytoscapeWindow,
   noa.names,
   noa,
   eda.names,
   eda,
   CytoscapeWindowFromNetwork,
   cy2.edge.names,
   getAdjacentEdgeNames,
   makeSimpleGraph,
   demoSimpleGraph,
   makeRandomGraph,
   initNodeAttribute,
   initEdgeAttribute,
   cyPlot
)

#Ported from r2cytoscape
export(
   checkCytoscapeVersion,
   createNetworkFromDataFrames,
   createVisualStyle,
   command2query,
   commandRun,
   commandHelp,
   getNetworkName,
   mapVisualProperty,
   openCySwagger
   )

#Deprecated
export(
    createWindow,
    createWindowFromSelection,
    deleteAllWindows,
    deleteWindow,
    existing.CytoscapeWindow,
    getGraphFromCyWindow,
    getWindowCount,
    getWindowID,
    getWindowList,
    pluginVersion
)

importClassesFrom(graph, graph, graphBase)

importClassesFrom(methods, character, integer)

importMethodsFrom(graph, edgeData, "edgeData<-", edgeDataDefaults,
                 "edgeDataDefaults<-", edgeNames, edges, inEdges,
                 nodeData, "nodeData<-", nodeDataDefaults,
                 "nodeDataDefaults<-", nodes,
                 edgemode, "edgemode<-",
                 addNode, addEdge, edgeSets)


importFrom(methods, new)
importFrom(graph, randomGraph)
importFrom(RJSONIO, fromJSON, toJSON)
importFrom(httr, GET, PUT, POST, DELETE, write_disk)
importFrom(RCurl, url.exists)
